
#container{
    background-color: #F5F5F5;
}
#main {
    height: 670px;
    width: 1250px;
    /* border: 1px solid black; */
    display: flex;
    gap: 10px;
    background-color: #F5F5F5;
    margin: auto auto;
    justify-content: space-between;
}

#sign_facebook {
    height: 250px;
    width: 380px;
    border: 1px solid transparent;
    margin-top: 50px;
    padding: 10px;
}

#signup_div {
    height: 560px;
    width: 380px;
    border: 1px solid transparent;
    background-color: white;
    margin-top: 50px;
    padding: 10px;

}

#login_div {
    height: 300px;
    width: 380px;
    border: 1px solid transparent;
    background-color: white;
    margin-top: 50px;
padding: 10px;
}

#fb_signin {
    width: 370px;
    display: flex;
    justify-content: space-around;
    background-color: #4067AB;
    color: white;
    font-size: 15px;
    border: 1px;
}

#facebook_logo {
    margin-top: 1px;
    height: 40px;
    width: 50px;
    border-radius: 50%;
    margin-left: -40px;
}

#fb_link {
    text-decoration: none;
}

#signup {
    width: 360px;
    height: 40px;
    background-color: #E51075;
    color: white;
    border: 1px;
    margin-top: 20px;
}

#fname {
    width: 350px;
    height: 40px;
}

#lname {
    width: 350px;
    height: 40px;
}

#mail {
    width: 350px;
    height: 40px;
}

#passwd {
    width: 350px;
    height: 40px;
}

#robo {
    border: 1px solid grey;
    display: flex;
    justify-content: space-between;
    width: 300px;
}

#check {
    margin-top: 32px;
}

#captcha span {
    font-size: 10px;
}

#login_mail {
    width: 350px;
    height: 40px;
}

#login_passwd {
    width: 350px;
    height: 40px;
}

#login_btn {
    width: 360px;
    height: 40px;
    background-color: #E51075;
    color: white;
    border: 1px;
    margin-top: 20px;
}

/* nabar css */

* {
    font-family: benton-sans, Helvetica, "Sans-serif";
    /* font-weight: 700;
    font-size: 14px; */
}

hr {
    margin-top: -2px;
}

a:link {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #E51075;
}

a:visited {
    color: transparent;
}

.classHover:hover {
    color: #E51075;
}

#navBar {
    height: 60px;
    /* border: 1px solid black; */
    /* display: flex; */
}

#first_div {
    display: flex;
    justify-content: space-between;
    width: 100%;

}

#nav_left_div {
    width: 430px;
    height: 100%;
    /* border: 1px solid black; */
    display: flex;
}

#nav_right_div {
    width: 510px;
    height: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-evenly;
}

#line_img {
    height: 40px;
    margin-top: 12px;
}

#logo {
    height: 30px;
    width: 160px;
    margin-top: 13px;
    margin-left: 10px;
}

#nav_exp {
    margin-left: 20px;
    margin-top: 23px;

}

#nav_wwd {
    margin-left: 20px;
    margin-top: 23px;
}

#search {
    height: 30px;
    margin-top: 15px;
    margin-left: 20px;
}

#nav_forEnp {
    margin-top: 23px;
}

#nav_camp {
    margin-top: 23px;

}

#nav_login {
    margin-top: 23px;

}

#nav_signup {
    margin-top: 23px;

}

#second_div {
    height: 500px;
    width: 100%;
    /* border: 1px solid black; */
    display: none;
    background-color: #F5F5F5;
}

#exp_all_project {
    height: 240px;
    width: 100%;
    /* border: 1px solid black; */
    background-color: white;
}

#category {
    height: 250px;
    width: 65%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-around;
    margin: auto auto;
    /* margin-top: 30px; */
    background-color: #F5F5F5;
}

#category>div {
    margin-top: 18px;
}

#inside_cat {
    display: flex;

}

#col1 {
    /* border: 1px solid black; */
    height: 180px;
    width: 150px;
    line-height: 25px;
}

#col2 {
    /* border: 1px solid black; */
    height: 180px;
    width: 150px;
    line-height: 25px;
}

#ins_exp_all_project {
    display: flex;
    /* border: 1px solid black; */
    height: 180px;
    width: 75%;
    margin: auto auto;
    /* padding: 20px; */
    justify-content: space-evenly;
}

#exp2 {
    display: flex;
}

#exp1 {
    height: 100%;
    width: 360px;
    /* border: 1px solid black; */
}

#exp {
    /* border: 1px solid black; */
    height: 100%;
    width: 150px;
}

#img1 {
    height: 110px;
    width: 340px;
}

#line1 {
    height: 200px;
    margin-top: 50px;
}